{% extends 'base/_index.html' %}

{% block title %}
  About
{% endblock %}

{% block content %}
  <div class="bg-body-tertiary p-5 rounded">
    <div class="col-sm-8 py-5 mx-auto">
      <h1 class="display-5 fw-semibold trac" style="letter-spacing: 6px;">ACHRO</h1>
      <p class="fs-5 font-monospace">Afghan Community & Health Rehabilitation Organization.</p>
      <p>Afghan Community and Health Rehabilitation Organization (ACHRO) is a non-political, non for profit, non-governmental organization registered on April 08, 2010, under registration # 1658 with the Ministry of Economy of GIRoA.</p>
      <p>
        <a class="btn btn-primary" href="https://www.achro.org" target="_blank" role="button">Learn more about ACHRO »</a>
      </p>
    </div>
  </div>
{% endblock %}
